form{
    margin-top: 5%;
}
.form-box{
    width: 60%;
    // border: solid 0.1px gray;
    padding: 5%;
    padding-top: 2%;
}
.head{
    background-color: #107cfa;
    margin-left: -10%;
    margin-right: -10%;
    color: white;
    h1{
        font-weight: bold;
    }
    .bt{
        margin-top: 10%;
    }
}