.tinp{
    padding-top: 50px;
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0px;
    z-index: 5;
}
.dummy{
    height: 50px;
    padding-left: 10px;

}
.avt{
    color: white;
    font-weight: bold;
}